<% article = blog.articles.first %>

<a id="listen"></a>
<h2>Listen</h2>
<h3><a href="<%= article.url %>" class="webpage"><%= "Episode #{article.data.id}: #{article.title}" %></a></h3>
  <div class="pub-date">
    <span class="label">Published:</span>&nbsp;
    <%= article.date.strftime("%A, %B %e, %Y") %>
  </div>
<div class="summary"><%= article.summary %></div>
<audio controls preload="auto" src="<%= cdn_file_url(article.data.audio_file_name) %>">
  Your browser does not support the audio element.
</audio>
